.continents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__container {

    background-color: rgb(64, 64, 64, 0.7);
    width: 40%;
    //height: 280px;
    margin: 5px 0;
    padding: 0px 0px 15px 0px;
    border-radius: 20px;

    &--img {
      display: flex;
      flex-direction: column;
      background-color: rgb(64, 64, 64, 0.9);
      width: 100%;
      padding: 5px 0;
      border-radius: 15px;
      align-items: center;
    }

    a {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-decoration: none;
      gap: 5px;
      img {
        width: 90%;
        border-radius: 15px;
        box-shadow: 0 6px 20px 0 rgb(40, 40, 40);
      }
      h2 {
        color: rgb(217,217,217);
      }
    }
  }
}
