<main class="questions">
  <div class="question-container">
    <h2 class="question-title">{{questions[currentIndex].Question}}</h2>
    <div class="question-image">
      <img src="{{image}}" alt="" />
    </div>

    <div class="question-options">
      <div *ngFor="let item of questions[currentIndex]?.Options; index as i ">
        <button (click)="sentAnswer(i+'')">{{item}}</button>
      </div>
    </div>

    <div class="question-footer">
      <p class="question-text">
        
      </p>
    </div>
  </div>
</main>

