.container {
  position: absolute;
  display: inline-block;
  padding: 0 0.5rem;

  &__tooltip {
    width: 10rem;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    white-space: wrap; // Con salto de linea si el texto excede el ancho
    text-align: center;
    z-index: 1000; // para que el tooltip este por encima de todo
    opacity: 0;

    &.top,
    &.bottom {
      transform: translateX(-50%);
      left: 50%;
    }

    &.right,
    &.left {
      transform: translateY(-50%);
      top: 50%;
    }
    &.top {
      bottom: 100%;
    }

    &.bottom {
      top: 100%;
    }

    &.left {
      right: 100%;
    }

    &.right {
      left: 100%;
    }
  }

  &:hover &__tooltip {
    opacity: 1;
  }
}
