@font-face {
  font-display: swap;
  font-family: "Amadeus-Medium";
  font-style: normal;
  font-weight: 400;
  src: url("/styles/fonts/AmadeusNeue-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Amadeus-Regular";
  src: url("/styles/fonts/AmadeusNeue-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Amadeus-Bold";
  src: url("/styles/fonts/AmadeusNeue-Bold.woff2") format("woff2");
}
