<main class="main">
  <h1 class="main__title">Crea tu perfil para comenzar</h1>
  <form class="main__form" [formGroup]="registerForm">
    <section class="main__avatar">
      <img
        src="../../../assets/img/user1.jpg"
        alt="avatar-user"
        class="main__avatar--img"
      />
    </section>
    <div>
      <fieldset>
        <label for="name">Nombre</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Pepito"
          formControlName="name"
        />
      </fieldset>
      <fieldset>
        <label for="lastname">Apellido</label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          placeholder="Perez"
          formControlName="lastName"
        />
      </fieldset>
    </div>
    <fieldset>
      <label for="username">Apodo</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="pepe57"
        formControlName="userName"
      />
    </fieldset>
    <fieldset>
      <label for="email">Correo</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="pperez58@gmail.com"
        formControlName="email"
      />
    </fieldset>
    <div>
      <fieldset>
        <label for="age">Edad</label>
        <input
          type="number"
          name="age"
          id="age"
          placeholder="20"
          formControlName="age"
        />
      </fieldset>
      <fieldset>
        <label for="country">País</label>
        <input
          type="text"
          name="country"
          id="country"
          placeholder="Colombia"
          formControlName="country"
        />
      </fieldset>
    </div>
    <fieldset>
      <label for="password">Contraseña</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="********"
        formControlName="password"
      />
    </fieldset>
    <button class="main__button" [disabled]="registerForm.invalid">
      Registrarme
    </button>
    <a class="main__link" routerLink="/login"
      >¿Ya tienes cuenta? Inicia Sesión</a
    >
  </form>
</main>
