<main class="main">
  <h1 class="main__title">Crea tu perfil para comenzar</h1>
  <form class="main__form" [formGroup]="registerForm">
    <section class="main__avatar">
      <img
        src="../../../assets/img/user1.jpg"
        alt="avatar-user"
        class="main__avatar--img"
      />
    </section>
    <div>
      <fieldset>
        <label for="name"
          >Nombre
          <span [hidden]="name.valid || name.pristine">
            <tooltip
              *ngIf="name.errors?.['required']"
              text="Campo Obligatorio"
              position="right"
            >
              <i class="fa-solid fa-circle-info"></i>
            </tooltip>
          </span>
        </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Pepito"
          formControlName="name"
        />
      </fieldset>
      <fieldset>
        <label for="lastname"
          >Apellido
          <span [hidden]="lastName.valid || lastName.pristine">
            <tooltip
              *ngIf="lastName.errors?.['required']"
              text="Campo Obligatorio"
              position="right"
            >
              <i class="fa-solid fa-circle-info"></i>
            </tooltip>
          </span>
        </label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          placeholder="Perez"
          formControlName="lastName"
        />
      </fieldset>
    </div>
    <fieldset>
      <label for="username"
        >Apodo
        <span [hidden]="userName.valid || userName.pristine">
          <tooltip
            *ngIf="userName.errors?.['required']"
            text="Campo Obligatorio"
            position="right"
          >
            <i class="fa-solid fa-circle-info"></i>
          </tooltip>
        </span>
      </label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="pepe57"
        formControlName="userName"
      />
    </fieldset>
    <fieldset>
      <label for="email"
        >Correo
        <span [hidden]="email.valid || email.pristine">
          <tooltip
            *ngIf="email.errors?.['required']"
            text="Campo Obligatorio"
            position="right"
          >
            <i class="fa-solid fa-circle-info"></i>
          </tooltip>
          <tooltip
            *ngIf="email.errors?.['pattern']"
            text="Debe ser un correo valido"
            position="right"
          >
            <i class="fa-solid fa-circle-info"></i>
          </tooltip>
        </span>
      </label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="pperez58@gmail.com"
        formControlName="email"
      />
    </fieldset>
    <div>
      <fieldset>
        <label for="age"
          >Edad
          <span [hidden]="age.valid || age.pristine">
            <tooltip
              *ngIf="age.errors?.['required']"
              text="Campo Obligatorio"
              position="right"
            >
              <i class="fa-solid fa-circle-info"></i>
            </tooltip>
          </span>
        </label>
        <input
          type="number"
          name="age"
          id="age"
          placeholder="20"
          formControlName="age"
        />
      </fieldset>
      <fieldset>
        <label for="country"
          >País
          <span [hidden]="country.valid || country.pristine">
            <tooltip
              *ngIf="country.errors?.['required']"
              text="Campo Obligatorio"
              position="right"
            >
              <i class="fa-solid fa-circle-info"></i>
            </tooltip>
          </span>
        </label>
        <input
          type="text"
          name="country"
          id="country"
          placeholder="Colombia"
          formControlName="country"
        />
      </fieldset>
    </div>
    <fieldset>
      <label for="password"
        >Contraseña
        <span [hidden]="password.valid || password.pristine">
          <tooltip
            *ngIf="password.errors?.['required']"
            text="Campo Obligatorio"
            position="right"
          >
            <i class="fa-solid fa-circle-info"></i>
          </tooltip>
          <tooltip
            *ngIf="password.errors?.['pattern']"
            text="8 caracteres: 1 mayus, 1 minus, 1 num, 1 caracter especial"
            position="right"
          >
            <i class="fa-solid fa-circle-info"></i>
          </tooltip>
        </span>
      </label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="********"
        formControlName="password"
      />
    </fieldset>
    <button class="main__button" [disabled]="registerForm.invalid">
      Registrarme
    </button>
    <a class="main__link" routerLink="/login"
      >¿Ya tienes cuenta? Inicia Sesión</a
    >
  </form>
</main>
